__pycache__
private_key.asc
.env
backup_hjw_recep*
.vscode
backup_hjw_recep*
backup_hjw_recep*
docker-entrypoint-initdb.d*
teste.py
privatekey.mednetltda@proton.me-d8922587a4eef0e31495bfd4c799970b22b00f3b.asc
