asgiref
Django
django-autocomplete-light
django-psdb-engine
django-smart-selects
et-xmlfile
load-dotenv
mysqlclient
numpy
openpyxl
pandas
pip
python-dateutil
python-dotenv
pytz
setuptools
six
sqlparse
tzdata
