.desativado {
  color: gray;
  pointer-events: none;
  text-decoration: none;
}

/* Define a largura máxima da tabela e permite rolagem horizontal */
.table-container {
  overflow-x: auto;
  text-align: center
}
