.desativado {
  color: gray;
  pointer-events: none;
  text-decoration: none;
}

.dataframe {
  overflow-x: auto;
  text-align: center
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #74baa0;
  height: 100px;
}

.menu a {
  padding: 
  justify-content: center;
  align-items: center;
  background-color: #122a57;
  color: white;
  border-radius: 30px;
}
