* {
  margin: 0;
  text-decoration: none;
  font-family: 'Open Sans', Arial, sans-serif;
  list-style-type: none;
  padding: 0;
}

button {
  all: unset;
}

body {
  background-color: #dcedf5;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 150px;
  margin: 30px;
}

.error {
  text-align: center;
  margin: 5px;
  color: red;
}

.success {
  text-align: center;
  margin: 5px;
  color: green;
}

.info {
  text-align: center;
  margin: 5px;
  color: yellowgreen;
}

.dataframe {
  overflow-x: auto;
  text-align: center;
  margin-bottom: 20px;
}

.table {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.table table {
  max-width: 100%;
  table-layout: fixed;
  background-color: #f6fafc;
}

.table th, .table td {
  white-space: normal; /* Permite que o texto seja quebrado e passe para a próxima linha */
  word-break: break-word; /* Quebra palavras muito grandes para a próxima linha */
  text-align: center; /* Centraliza o texto nas células da tabela */
}

.button {
  display: flex;
  margin: 5px;
  width: 150px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #122a57;
  color: white;
  border-radius: 30px;
  user-select: none;
  font-size: small;
}

/* Modifica a sombra quando o botão é clicado */
.button:active {
  outline: 1px solid blueviolet;
  outline-offset: 2px;
  color: white;
}

.button:visited {
  color: white;
}

a:visited {
  color: blue;
}

a:active {
  color: grey;
}

.desativado {
  color: gray;
  pointer-events: none;
  text-decoration: none;
}

.header-form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
