* {
  margin: 0;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type: none;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #f6fafc, #dcedf5);
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 150px;
  margin: 5px;
}

.error {
  color: red;
}

.dataframe {
  overflow-x: auto;
  text-align: center
}

.table {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.table table {
  max-width: 100%;
  table-layout: fixed;
}

.table th, .table td {
  white-space: normal; /* Permite que o texto seja quebrado e passe para a próxima linha */
  word-break: break-word; /* Quebra palavras muito grandes para a próxima linha */
  text-align: center; /* Centraliza o texto nas células da tabela */
}

.button {
  display: flex;
  margin: 5px;
  width: 150px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #122a57;
  color: white;
  border-radius: 30px;
  user-select: none;

  /* Adiciona uma sombra para dar uma aparência 3D */
  box-shadow: 4px 4px 6px rgba(0,0,0,0.3);
  
  /* Transição para suavizar o efeito de clique */
  transition: box-shadow 0.3s ease-in-out;
}

/* Modifica a sombra quando o botão é clicado */
.button:active {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  color: white;
}

.button:visited {
  color: white;
}

a:visited {
  color: blue;
}

a:active {
  color: grey;
}

.desativado {
  color: gray;
  pointer-events: none;
  text-decoration: none;
}
