{% extends 'model_page.html' %}
{% block content %}
  <header align="center">
    <h1>Censo de Visitante</h1>
    <form action="{% url 'censo_visitante' %}" method="GET" id="form" class="form">
      <section>
        <label for="">Selecione a Data Relacionada:</label>
        <input type="date" name="data_registro" value="{{ data_registro }}">
      </section>
      <button id="button" type="submit" class="button">Buscar</button>
    </form>
  </header>
  <nav class="table">
    {% if visitantes_df %}
      {{ visitantes_df|safe }}
    {% endif %}
  </nav>
{% endblock %}