{% extends 'model_page.html' %}
{% block content %}
  <div align="center">
    <h1>Censo dos Visitantes</h1>
    <form action="{% url 'censo_visitante' %}" method="GET" id="form">
      <label for="">Selecione a Data Relacionada:</label>
      <input type="date" name="data_registro" value="{{ data_registro }}">
      <button id="button" type="submit">Buscar</button>
    </form>
  </div>
  <nav class="table">
    {% if visitantes_df %}
      {{ visitantes_df|safe }}
    {% endif %}
  </nav>
{% endblock %}