{% extends 'model_page.html' %}
{% block content %}
  <form method="GET" action="{% url 'gerenciar_operador' %}" id="form" class="form">
    <h1>Gerenciar Operador</h1>
    <header class="header-form">
      <section>
        <label for="">Operador</label>
        {% if operador %}
          <input type="text" name="operador" value="{{ operador }}">
        {% else %}
          <input type="text" name="operador">
        {% endif %}
      </section>
      <section>
        <label for="">Usuário</label>
        {% if usuario %}
          <input type="text" name="usuario" value="{{ usuario }}">
        {% else %}
          <input type="text" name="usuario">
        {% endif %}
      </section>
      <section>
        <label for="">Perfil</label>
        <select name="perfil">
          <option value="" selected>Selecione Perfil...</option>
          {% for perfil_ in perfis %}
            <option value="{{ perfil_ }}" {% if perfil_.name == perfil %}selected{% endif %}>{{ perfil_ }}</option>
          {% endfor %}
        </select>
      </section>
      <section>
        <label for="">Operador Ativo</label>
        <select name="operador_ativo">
          <option value="" selected>Selecione Sim ou Não...</option>
          <option value="{{ 'True' }}" {% if operador_ativo == 'True' %}selected{% endif %}>Sim</option>
          <option value="{{ 'False' }}" {% if operador_ativo == 'False' %}selected{% endif %}>Não</option>
        </select>
      </section>
    </header>
    <button type="submit" class="button">Buscar</button>
  </form>
  {% for message in messages %}
  <section class="error">
    <strong>Erro: </strong>{{ message }}
  </section>
  {% endfor %}
  <nav class="table">
    {% if operadores_df %}
      {{ operadores_df|safe }}
    {% endif %}
  </nav>  
{% endblock %}