{% extends 'model_page.html' %}
{% block content %}
  <h1>Internação</h1>
  <!-- Formulário de pesquisa -->
  <form method="GET" action="{% url 'internacao' %}" id="form">
    <label for="">Paciente</label>
    <input type="text" name="paciente">
    <label for="">Prontuário</label>
    <input type="number" name="prontuario">
    <label for="">Visitante</label>
    <input type="text" name="visitante">
    <button type="submit" id="button">Buscar</button>
  </form>
  {% if pacientes_df %}
    <div class="table-container">
      {{ pacientes_df|safe }}
    </div>
  {% endif %}
{% endblock %}