{% extends 'model_page.html' %}
{% block content %}
  <h1>Internação</h1>
  <!-- Formulário de pesquisa -->
  <form method="GET" action="{% url 'internacao' %}" id="form">
    <label for="">Paciente</label>
    {% if paciente %}
      <input type="text" name="paciente" value="{{ paciente }}">
    {% else %}
      <input type="text" name="paciente">
    {% endif %}
    <label for="">Prontuário</label>
    {% if prontuario %}
      <input type="number" name="prontuario" value="{{ prontuario }}">
    {% else %}
      <input type="number" name="prontuario">
    {% endif %}
    <label for="">Visitante</label>
    {% if visitante %}
      <input type="text" name="visitante" value="{{ visitante }}">
    {% else %}
      <input type="text" name="visitante">
    {% endif %}
    <button type="submit" id="button">Buscar</button>
  </form>
  <a class="ativado" onclick="desativarLink(this)" href="{% url 'censo_visitante' %}"><button>Censo de Visitante</button></a>
  {% for message in messages %}
    <div align="center" style="color: red;">
      <strong>Erro: </strong>{{ message }}
    </div>
  {% endfor %}
  {% if pacientes_df %}
    {{ pacientes_df|safe }}
  {% endif %}
{% endblock %}