{% extends 'model_page.html' %}
{% block content %}
<body>
  <form action="submit" method="POST" id="form">{% csrf_token %} <!-- action submit leva pra pagina submit, que é concatenado a login, ou seja ...login/submit, quando preencher o form e clicar no button --> <!-- quando utilizar um form que faz um post colocar o {% csrf_token %} pra gerar um token de segurança, se não da erro, por segurança -->
    <div align="center">
      <h1>Faça Login</h1>
      <label for="">Usuário:</label>
      <input type="username" name="username"> <!-- o name server pra recuperar os dados depois por ele, isso acontece no views -->
      <br>
      <label for="">Senha:</label>
      <input type="password" name="password">
      <br>
      <button type="submit" id="button">Entrar</button>
    </div>
  </form>

  {% for message in messages %}
    <div align="center" style="color: red;">
      <strong>Erro: </strong>{{ message }}
    </div>
  {% endfor %}
{% endblock %}