{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'model_link.html' %}
  <title>Hjw Recep</title>
</head>
<body>
  {% if user.is_authenticated %}
    <div class="menu">
      <div>
        <a class="a-button" onclick="desativarLink(this)" href="/">Internação</a>
      </div>
      <div>
        <a class="a-button" onclick="desativarLink(this)" href="{% url 'censo_visitante' %}">Censo de Visitante</a>
      </div>
      <div class="user">
        <label>Operador: {{ user.first_name }}</label>
        {% if user.is_staff %}
          <a class="a-button" onclick="desativarLink(this)" href="/admin">Admin</a>
        {% endif %}
        <a class="a-button" onclick="desativarLink(this)" href="/logout">Sair</a>
      </div>
    </div>
  {% endif %}
  {% block content %} {% endblock %}
  {% include 'model_script.html' %}
</body>
</html>