{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/model_css.css' %}">
<link rel="stylesheet" href="{% static 'css/model_page.css' %}">
<link rel="stylesheet" href="{% static 'css/model_paciente.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/paciente.css' %}">
<link rel="stylesheet" href="{% static 'css/visitante.css' %}">
<link rel="stylesheet" href="{% static 'css/comunicado_interno.css' %}">
<link rel="stylesheet" href="{% static 'css/censo_visitante.css' %}">
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
<link rel="stylesheet" href="{% static 'css/operador.css' %}">
<link rel="icon" type="image/x-icon" sizes="16x16"  href="{% static 'images/favicon.ico' %}">