{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'model_link.html' %}
  <title>MedNet</title>
</head>
<body>
  <header class="menu">
    <figure class="brasao_user">
      <img class="brasao" src="{% static 'images/brasao.png' %}" alt="imagem do brasão da prefeitura de Fortaleza">
      {% if user.is_authenticated %}
      <p class="user"><img src="{% static 'images/user.webp' %}" alt="imagem que representa um usuário"> {{ user.first_name }}</p>
      {% endif %}
    </figure>
    {% if user.is_authenticated %}
    <nav class="buttons-menu-box">
      <ul class="buttons-menu">
        {% if request.path == '/perfil/' %}
          <li>
            <a onclick="desativarLink(this)" href="/perfil/mudar_senha"><button class="button">Mudar Senha</button></a>
          </li>
          <li>
            {% if user.is_staff %}
              <a onclick="desativarLink(this)" href="/admin"><button class="button">Admin</button></a>
            {% endif %}
              <a onclick="desativarLink(this)" href="/logout"><button class="button">Sair</button></a>
          </li>
        {% elif request.path|match:'/recepcao_principal/.*' %}
          <li>
            <a onclick="desativarLink(this)" href="/recepcao_principal/"><button class="button">Recepção Principal</button></a>
              {% if boolean_comunicado_interno or boolean_visitante %}
                <a onclick="desativarLink(this)" href="{% url 'paciente' %}?prontuario={{ prontuario }}"><button class="button">Paciente</button></a>
              {% endif %}
            </li>
            <li>
              <a onclick="desativarLink(this)" href="{% url 'perfil' %}"> <button class="button">Perfil</button></a>
              <a onclick="desativarLink(this)" href="{% url 'censo_visitante' %}"><button class="button">Censo de Visitante</button></a>
            </li>
            <li>
              {% if user.is_staff %}
              <a onclick="desativarLink(this)" href="/admin"><button class="button">Admin</button></a>
              {% endif %}
              <a onclick="desativarLink(this)" href="/logout"><button class="button">Sair</button></a>
            </li>
        {% elif request.path|match:'/gerenciar_operador/.*' %}
          <li>
            <a href="{% url 'operador' %}" onclick="desativarLink(this)"><button class="button">Adicionar Operador</button></a>
            <a href="{% url 'gerenciar_operador' %}" onclick="desativarLink(this)"><button class="button">Gerenciar Operador</button></a>
          </li>
          <li>
            <a onclick="desativarLink(this)" href="{% url 'perfil' %}"> <button class="button">Perfil</button></a>
          </li>
          <li>
            {% if user.is_staff %}
              <a onclick="desativarLink(this)" href="/admin"><button class="button">Admin</button></a>
            {% endif %}
              <a onclick="desativarLink(this)" href="/logout"><button class="button">Sair</button></a>
          </li>
        {% elif request.path == '/perfil/mudar_senha' %}
          <li>
            <a onclick="desativarLink(this)" href="/perfil/"><button class="button">Perfil</button></a>
          </li>
          <li>
            {% if user.is_staff %}
              <a onclick="desativarLink(this)" href="/admin"><button class="button">Admin</button></a>
            {% endif %}
              <a onclick="desativarLink(this)" href="/logout"><button class="button">Sair</button></a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </header>
  {% block content %} {% endblock %}
  {% include 'model_script.html' %}
</body>
</html>