<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'model_link.html' %}
  <title>Hjw Recep</title>
</head>
<body>
  <div align="left">
    <a class="ativado" onclick="desativarLink(this)" href="/"><button>Internação</button></a>
  </div>
  <div align="right">
    <p>Operador: {{ usuario }}</p>
    <a class="ativado" onclick="desativarLink(this)" href="/logout"><button>Sair</button></a>
  </div>
  {% block content %} {% endblock %}
  {% include 'model_script.html' %}
</body>
</html>