{% extends 'model_page.html' %}
{% block content %}
<form action="submit" method="POST" class="form" id="form">{% csrf_token %}
  <input type="text" name="esqueci_senha" value="{{ esqueci_senha }}" hidden>
  <h1>Mudar Senha</h1>
  {% if esqueci_senha != 'sim' %}
  <header class="header-form">
      <div>
        <label for="">Senha Atual</label>
        <input type="password" name="senha_atual" value="{{ senha_atual }}">
      </div>
      <div>
        <label for="">Nova Senha</label>
        <input type="password" name="nova_senha" value="{{ nova_senha }}">
      </div>
      <div>
        <label for="">Repetir Nova Senha</label>
        <input type="password" name="repetir_nova_senha" value="{{ repetir_nova_senha }}">
      </div>
    </header>
  {% else %}
    <input type="text" name="code" value="{{ code }}" hidden>
    <input type="text" name="usuario" value="{{ usuario }}" hidden>
    <header class="header-form">
      <div>
        <label for="">Código</label>
        <input type="text" name="codigo" value="">
      </div>
      <div>
        <label for="">Nova Senha</label>
        <input type="password" name="nova_senha" value="{{ nova_senha }}">
      </div>
      <div>
        <label for="">Repetir Nova Senha</label>
        <input type="password" name="repetir_nova_senha" value="{{ repetir_nova_senha }}">
      </div>
    </header>
  {% endif %}
    <button class="button click" type="submit">Mudar Senha</button>
  </form>
  {% for message in messages %}
    <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
      {% if message.tags == 'error' %}
        <strong>ERRO: </strong>{{ message }}
      {% elif message.tags == 'success' %}
        <strong>SUCESSO: </strong>{{ message }}
      {% elif message.tags == 'info' %}
        <strong>ATENÇÃO: </strong>{{ message }}
      {% else %}
        {{ message }}
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}