{% extends 'model_page.html' %}
{% block content %}
  <form action="submit" method="POST" class="form" id="form">{% csrf_token %}
    <input type="text" name="esqueci_senha" value="{{ esqueci_senha }}" hidden>
    <h1>Mudar Senha</h1>
    <header class="header-form">
      <section>
        <label for="">Senha Atual</label>
        <input type="password" name="senha_atual" value="{{ senha_atual }}">
      </section>
      <section>
        <label for="">Nova Senha</label>
        <input type="password" name="nova_senha" value="{{ nova_senha }}">
      </section>
      <section>
        <label for="">Repetir Nova Senha</label>
        <input type="password" name="repetir_nova_senha" value="{{ repetir_nova_senha }}">
      </section>
    </header>
    <button class="button" id="button" type="submit">Mudar Senha</button>
  </form>
  {% for message in messages %}
    <section class="{% if message.tags %}{{ message.tags }}{% endif %}">
      {% if message.tags == 'error' %}
        <strong>ERRO: </strong>{{ message }}
      {% elif message.tags == 'success' %}
        <strong>SUCESSO: </strong>{{ message }}
      {% elif message.tags == 'info' %}
        <strong>ATENÇÃO: </strong>{{ message }}
      {% else %}
        {{ message }}
      {% endif %}
    </section>
  {% endfor %}
{% endblock %}