{% extends 'model_page.html' %}
{% block content %}
  <form action="submit" method="POST" id="form" class="operador">{% csrf_token %}
    <h1>Operador</h1>
    <input type="number" name="usuario" value="{{ usuario }}" hidden>
    <section class="operador-label-input">
      <section class="operador-label">
        <label for="">Usuário (CPF)</label>
        <label for="">Senha</label>
        <label for="">Repita Senha</label>
        <label for="">Nome Completo do Operador</label>
        <label for="">Email</label>
        <label for="">Perfil</label>
      </section>
      <section class="operador-input">
        <input type="text" name="operador" size="20" value="{{ operador.username }}">
        <input type="password" name="senha" size="20">
        <input type="password" name="senha" size="20">
        <input type="text" name="nome" size="100" value="{{ operador.first_name }}">
        <input type="text" name="email" size="100" value="{{ operador.email }}">
        {% for perfil in perfis %}
          <section>
            <input name="perfil" type="checkbox" value="{{ perfil }}" {% if perfil in operador.groups.all %}checked{% endif %}>
            <label for="">{{ perfil }}</label>
          </section>
        {% endfor %}
      </section>
    </section>
      <button type="submit" id="button" class="button">Salvar</button>
  </form>
  {% for message in messages %}
    <section class="error">
      <strong>Erro: </strong>{{ message }}
    </section>
  {% endfor %}
  <nav class="table">
    {% if visitantes_df %}
      {{ visitantes_df|safe }}
    {% endif %}
  </nav>
{% endblock %}