{% extends 'model_page.html' %}
{% block content %}
  <form action="submit" method="POST" id="form" class="operador">{% csrf_token %}
    <h1>Operador</h1>
    <input type="text" name="usuario" value="{{ operador.username }}" hidden>
    <div class="operador-label-input">
      <div class="operador-label">
        <label for="">Usuário (CPF)</label>
        <label for="">Senha</label>
        <label for="">Repita Senha</label>
        <label for="">Nome Completo do Operador</label>
        <label for="">Email</label>
        <label for="">Perfil</label>
        {% if not new %}
          <label for="">Ativo</label>
        {% endif %}
      </div>
      <div class="operador-input">
        <input type="text" name="usuario_novo" size="20" value="{{ operador.username }}">
        <input type="password" name="senha" size="20">
        <input type="password" name="repetir-senha" size="20">
        <input type="text" name="nome" size="100" value="{{ operador.first_name }}">
        <input type="text" name="email" size="100" value="{{ operador.email }}">
        <div>
          {% for perfil in perfis %}
            <input name="perfil" type="checkbox" value="{{ perfil }}" {% if perfil in operador.groups.all %}checked{% endif %}>
            <label for="">{{ perfil }}</label>
            {% endfor %}
          </div>
          {% if not new %}
            <input type="checkbox" name="ativo" value="{{ operador.is_active }}" {% if operador.is_active %}checked{% endif %}>
          {% endif %}
      </div>
    </div>
      <button onclick="desativarButton(this)" type="submit" class="button click">Salvar</button>
  </form>
  {% for message in messages %}
    <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
      {% if message.tags == 'error' %}
        <strong>ERRO: </strong>{{ message }}
      {% elif message.tags == 'success' %}
        <strong>SUCESSO: </strong>{{ message }}
      {% elif message.tags == 'info' %}
        <strong>ATENÇÃO: </strong>{{ message }}
      {% else %}
        {{ message }}
      {% endif %}
    </div>
  {% endfor %}
  <nav class="table">
    {% if visitantes_df %}
      {{ visitantes_df|safe }}
    {% endif %}
  </nav>
{% endblock %}