{% extends 'model_page.html' %}
{% block content %}
  <header class="perfil">
    <h1>Perfil</h1>
    {% for perfil in perfis %}
      {% if perfil == 'RECEPÇÃO PRINCIPAL' %}
        <a href="{% url 'recepcao_principal' %}" onclick="desativarLink(this)" class="a-perfil">{{ perfil }}</a>
      {% elif perfil == 'GERENCIAR OPERADOR' %}
        <a href="{% url 'gerenciar_operador' %}" onclick="desativarLink(this)" class="a-perfil">{{ perfil }}</a>
      {% endif %}
    {% endfor %}
  </header>
  {% for message in messages %}
    <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
      {% if message.tags == 'error' %}
        <strong>ERRO: </strong>{{ message }}
      {% elif message.tags == 'success' %}
        <strong>SUCESSO: </strong>{{ message }}
      {% elif message.tags == 'info' %}
        <strong>ATENÇÃO: </strong>{{ message }}
      {% else %}
        {{ message }}
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}