{% extends 'model_page.html' %}
{% block content %}
  <header class="perfil">
    <h1>Perfil</h1>
    {% for perfil in perfis %}
      {% if perfil == 'RECEPÇÃO PRINCIPAL' %}
        <a href="{% url 'recepcao_principal' %}" onclick="desativarLink(this)" class="a-perfil">{{ perfil }}</a>
      {% elif perfil == 'GERENCIAR OPERADOR' %}
        <a href="{% url 'gerenciar_operador' %}" onclick="desativarLink(this)" class="a-perfil">{{ perfil }}</a>
      {% endif %}
    {% endfor %}
  </header>
{% endblock %}