{% extends 'model_page.html' %}
{% block content %}
  {% include 'model_paciente.html' %}
  <h2>Visitante</h2>
  <form action="submit" method="POST" id="form">{% csrf_token %}
    <input type="number" name="prontuario" value="{{ paciente.prontuario }}" hidden>
    <label for="">Nome do Visitante</label>
    <br>
    <input type="text" name="nome" size="100" value="{{ visitante.nome }}">
    <label for="">Parentesco</label>
    <select name="parentesco" id="parentesco">
      <option value="" selected>Selecione Parentesco...</option>
      {% for parentesco in parentescos %}
        <option value="{{ parentesco.tipo }}" {% if parentesco.tipo == visitante.parentesco.tipo %}selected{% endif %}>{{ parentesco.tipo }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="">Documento</label>
    <br>
    <input type="text" name="documento" size="100" value="{{ visitante.documento }}">
    <br>
    <br>
    <div align="center">
      <button type="submit" id="button" class="button">Salvar</button>
    </div>
    <br>
  </form>
  {% for message in messages %}
    <div align="center" style="color: red;">
      <strong>Erro: </strong>{{ message }}
    </div>
  {% endfor %}
  <nav class="table">
    {% if visitantes_df %}
      {{ visitantes_df|safe }}
    {% endif %}
  </nav>
{% endblock %}