<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visitante</title>
  <style>
    /* Define a largura máxima da tabela e permite rolagem horizontal */
    .table-container {
      overflow-x: auto;
    }

    table {
      width: 100%;
      table-layout: fixed;
    }

    /* Faz com que o texto nas células se ajuste verticalmente */
    td {
      word-wrap: break-word;
    }
  </style>
</head>
<body>
  <h1>Registro de Visitante</h1>
  <p>Paciente: {{ paciente.nome }}</p>
  <p>Clínica: {{ paciente.clinica }}</p>
  <p>Leito: {{ paciente.leito }}</p>
  <form action="submit" method="POST">{% csrf_token %}
    <input type="number" name="prontuario" value="{{ paciente.prontuario }}" hidden>
    <input type="text" name="paciente" value="{{ paciente }}" hidden>
    <br>
    <label for="">Visitante</label>
    <br>
    <input type="text" name="nome" size="100" value="{{ visitante.nome }}">
    <label for="">Parentesco</label>
    <select name="parentesco" id="parentesco">
      {% for parentesco in parentescos %}
        <option value="{{ parentesco.tipo }}" {% if parentesco.tipo == visitante.parentesco.tipo %}selected{% endif %}>{{ parentesco.tipo }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="">Documento</label>
    <br>
    <input type="text" name="documento" size="100" value="{{ visitante.documento }}">
    <br>
    <button type="submit">Salvar</button>
  </form>
  {% for message in messages %}
    <div align="center">
      <strong>Erro: </strong>{{ message }}
    </div>    
  {% endfor %}
  {% if visitantes_df %}
    <div class="table-container">
      {{ visitantes_df|safe }}
    </div>
  {% endif %}
</body>
</html>