{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'visitante/css/class.css' %}">
  <link rel="stylesheet" href="{% static 'visitante/css/table.css' %}">
  <link rel="stylesheet" href="{% static 'visitante/css/td.css' %}">
  <link rel="stylesheet" href="{% static 'visitante/css/th.css' %}">
  <title>Visitante</title>
</head>
<body>
  <a class="ativado" onclick="desativarLink(this)" href="/">Internacao</a>
  <h1>Detalhes do Paciente</h1>
  <p>Nome: {{ paciente.nome }}</p>
  <p>Prontuario: {{ paciente.prontuario }}</p>
  <p>Clínica: {{ paciente.clinica }}</p>
  <p>Leito: {{ paciente.leito }}</p>
  <h2>Visitante</h2>
  <form action="submit" method="POST" id="form">{% csrf_token %}
    <input type="number" name="prontuario" value="{{ paciente.prontuario }}" hidden>
    <input type="text" name="paciente" value="{{ paciente }}" hidden>
    <label for="">Nome do Visitante</label>
    <br>
    <input type="text" name="nome" size="100" value="{{ visitante.nome }}">
    <label for="">Parentesco</label>
    <select name="parentesco" id="parentesco">
      <option value="" selected>Selecione Parentesco...</option>
      {% for parentesco in parentescos %}
        <option value="{{ parentesco.tipo }}" {% if parentesco.tipo == visitante.parentesco.tipo %}selected{% endif %}>{{ parentesco.tipo }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="">Documento</label>
    <br>
    <input type="text" name="documento" size="100" value="{{ visitante.documento }}">
    <br>
    <button type="submit" id="button">Salvar</button>
  </form>
  {% for message in messages %}
    <div align="center" style="color: red;">
      <strong>Erro: </strong>{{ message }}
    </div>
  {% endfor %}
  {% if visitantes_df %}
    <div class="table-container">
      {{ visitantes_df|safe }}
    </div>
  {% endif %}
<script src="{% static 'visitante/js/form_button.js' %}"></script>
<script src="{% static 'visitante/js/desativado.js' %}"></script>
</body>
</html>